.popup__close {
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    top: -40px;
    right: -40px;
    height: 32px;
    width: 32px;
}

.popup__close + .popup__close_visible {
    background-image: url(../../../images/icon/Close-Icon.svg);
    background-size: cover;
}

.popup__close:hover + .popup__close_visible {
    opacity: .6;
}

@media all and (max-width: 550px) {
    .popup__close {
        height: 20px;
        width: 20px;
        top: -36px;
        right: 0;
    }
}